<html>
    <!-- {{>header}} -->
    <body>
      <div class="col-md-offset-8">

          {{#if session.user_id}}
          <span>Welcome <a href="/user/{{session.user_id}}">{{session.user_name}}</a> | </span>
          <a href="./index/logout">Logout</a>
          {{else}}
          <a href="#">How it works</a> |
          <a href="/index/login">Login</a> |
          <a href="/login/facebook">Login with Facebook</a>  |
          <a href="/user/new">Register</a>
          {{/if}}

      </div>
    <div class="container">
    <div class="row header">
        <div class="col-md-3">
            <h1>rideShare</h1>
        </div>
    </div>
        <div class="container">
            {{{ body }}}
        </div>
     </div>
     <div class="row footer">
        <div class="col-md-4">
          <a href="#">About Us</a>
        </div>
        <div class="col-md-offset-11">
          <p>rideShare©</p>
        </div>
     </div>
    </body>
</html>
