<script>
function anyClicked() {

  if (document.getElementById('any').checked) {
    document.getElementById('smoking').checked = false;
    document.getElementById('eating').checked = false;
    document.getElementById('music').checked = false;
    document.getElementById('pets').checked = false;
    document.getElementById('talking').checked = false;
  }
}

function othersClicked() {

  document.getElementById('any').checked = false;
}
</script>
<form class="form-horizontal" method="get" action="/trip/search">
  <div class="row">
    <h3>Search Options</h3><br /><br />
    <div class="form-group row">
      <label class="col-sm-2 form-control-label" for="origin">Origin</label>
      <input type="text" name="origin" id="origin" value="">
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label"  for="destination">Destination</label>
      <input type="text" name="destination" id="destination" value="">
    </div>
    <div class="form-group">
      <label class="col-sm-2 form-control-label" for="date">Date:</label>
      <input class="form-control col-sm-4" type="date" name="date" id="time" value="{{info.date}}">
    </div>
  </div>
  <br />
  <div class="form-group row">
    <label class="col-sm-2 form-control-label" name="seats" for="seats"> Number of Seats:</label>
    <input class="form-control" type="number" name="seats" id="seats" value="1">
  </div>
  <div class="form-group row">
    <!-- <h4>PULL DATA FROM USER ACCOUNT FOR FIELDS BELOW WHEN AUTHENTICATION IS FINISHED</h4> -->
    <label class="col-sm-2 form-control-label"  for="trip_cost">Price per Seat</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" name="maxprice" value="1" placeholder="15">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <hr>
  <h3>Preferences</h3>
  <label name="any"> Any:
    <input type="checkbox" checked="true" name="any" id="any" value="any" onchange="anyClicked();">
  </label>
  &nbsp;||&nbsp;
  <label name="smoking"> Smoking:
    <input type="checkbox" name="smoking" id="smoking" value="smoking" onchange="othersClicked();">
  </label>
  &nbsp;
  <label name="eating"> Eating:
    <input type="checkbox" name="eating" id="eating" value="eating" onchange="othersClicked();">
  </label>
  &nbsp;
  <label name="music"> Music:
    <input type="checkbox" name="music" id="music" value="music" onchange="othersClicked();">
  </label>
  &nbsp;
  <label name="talking"> Talking:
    <input type="checkbox" name="talking" id="talking" value="talking" onchange="othersClicked();">
  </label>
  &nbsp;
  <label name="pets"> Pets:
    <input type="checkbox" name="pets" id="pets" value="pets" onchange="othersClicked();">
  </label>
  <br />
  <button type="submit" class="btn btn-primary">Search</button>
</form>
