<div id="login">
  <div class="container-fluid">
        <div class="row">
            <form class="form-inline" action="/index/auth" method="post">
                <fieldset class="form-group">
                    <div class="col-md-6 username">
                        <label for="username">Username</label>
                        <input type="text" name="username" value=""></br>
                    <!-- <div class="row"> -->
                    <!-- {{#if info.noMatch}}
                        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>oops. password and username don't match.</small>
                    {{/if}} -->
                    <!-- </div> -->
                    {{#if info.noUser}}
                        <!-- <div class="col-md-4"> -->
                        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>uh oh. user {{info.user}} doesn't exist.</small>
                        <!-- </div> -->
                    {{/if}}
                    </div>
                    <div class="col-md-6">
                        <label for="password">Password</label>
                        <input type="password" name="password" value="">
                    </div>
                    {{#if info.noMatch}}
                        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>oops. password and username don't match.</small>
                    {{/if}}
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
