<form action="/user/new" method="post">
  <label for="username">Username:
    <input type="text" id="username" name="username">
  </label>
  <label for="password">Password:
    <input type="password" id="password" name="password">
  </label>
  <label for="re-password">Re-Enter Password:
    <input type="password" id="re-password" name="re-password">
  </label>
  <label for="first_name">First Name:
    <input type="text" id="first_name" name="first_name">
  </label>
  <label for="last_name">Last Name:
    <input type="text" id="last_name" name="last_name">
  </label>
  <label for="phone_number">Phone #:
    <input type="text" id="phone_number" name="phone_number">
  </label>
  <label for="e_mail">E-Mail:
    <input type="text" id="e_mail" name="e_mail">
  </label>
</form>
