<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <!-- <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script type="text/javascript" scr="http://www.google.com/jsapi"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <center><span style="font-size: 26px; text-transform: uppercase;">Create a Trip - </span><span style="font-size: 20px;">share the cost</span></center>
      </div>
    </div>
    <br />
    <form class="newRide form-horizontal" action="/trip" method="post">
      <div class="row">
        <!-- <fieldset class="form-group row"> -->
        <div class="form-group row">
          <label class="col-sm-2 form-control-label" for="origin">Origin</label>
          <input type="text" name="origin" id="origin" value="">
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label"  for="destination">Destination</label>
          <input type="text" name="destination" id="destination" value="">
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label"  for="date time">Date & Time of Departure</label>
          <div class="input-group">
            <input class="input-group-addon form-control col-sm-5" type="date" name="date" id="time" value="{{info.date}}">
            <input class="input-group-addon form-control col-sm-5" type="time" name="time" id="time" value="{{info.time}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label"  for="details">Trip Details</label>
          <textarea class="form-control" rows="3" name="trip_details"></textarea>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label"  for="num_seats">Number of Seats Available</label>
          <select class="form-control" id="num_seats" name="num_seats">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label"  for="car_img_url">Car Image URL</label>
          <input type="text" class="form-control" name="car_img_url" value="">
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label"  for="car_description">Car Description</label>
          <textarea name="car_description" class="form-control" id="car_description" rows="3"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group row">
          <h4>I'm cool with the following in my car:</h4>
          <label class="col-sm-2 form-control-label"  class="checkbox-inline">
            <input type="checkbox" name="smoking" value="smoking"> smoking
          </label>
          <label class="col-sm-2 form-control-label"  class="checkbox-inline">
            <input type="checkbox" name="eating" value="eating"> eating
          </label>
          <label class="col-sm-2 form-control-label"  class="checkbox-inline">
            <input type="checkbox" name="music" value="music"> music
          </label>
          <label class="col-sm-2 form-control-label"  class="checkbox-inline">
            <input type="checkbox" name="talking" value="talking"> talking
          </label>
          <label class="col-sm-2 form-control-label"  class="checkbox-inline">
            <input type="checkbox" name="pets" value="pets"> pets
            <br>
          </label>
          <br>
        </div>
        <div class="form-group row">
          <!-- <h4>PULL DATA FROM USER ACCOUNT FOR FIELDS BELOW WHEN AUTHENTICATION IS FINISHED</h4> -->
          <label class="col-sm-2 form-control-label"  for="trip_cost">Price per Seat</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" name="trip_cost" value="" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
