<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("maps", "3.x", {
            callback: initialize,
            other_params: 'sensor=false&libraries=places'
        });

        function initialize() {

            var input = document.getElementById('origin');
            var autocomplete = new google.maps.places.Autocomplete(input, {
                types: ['(cities)'],
                region: 'US'
            });

            var inputDest = document.getElementById('destination');
            var autocomplete = new google.maps.places.Autocomplete(inputDest, {
                types: ['(cities)'],
                region: 'US'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2>Create a Ride</h2>
            </div>
        </div>
        <form class="newRide" action="/trip" method="post">
            <div class="row">
                <!-- <fieldset class="form-group"> -->
                <div class="col-md-3">
                    <label for="origin">Origin</label>
                    <input id="origin" type="text" name="origin" value="">
                </div>
                <div class="col-md-3">
                    <label for="destination">Destination</label>
                    <input id="destination" type="text" name="destination" value="">
                </div>
                <div class="col-md-3">
                    <label for="details">Trip Details</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>

                <div class="col-md-2">
                    <label for="num_seats">Number of Seats Available</label>
                    <select class="form-control" id="num_seats">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <h4>PULL DATA FROM USER ACCOUNT FOR FIELDS BELOW WHEN AUTHENTICATION IS FINISHED</h4>
                    <label for="trip_cost">Price per Seat</label>
                    </br>
                    $
                    <input type="text" name="trip_cost" value="">
                </div>
                <div class="col-md-3">
                    <h3>I'm cool with the following in my car:</h3>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="smoking" value="smoking"> smoking
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="eating" value="eating"> eating
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="music" value="music"> music
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="talking" value="talking"> talking
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="pets" value="pets"> pets
                        <br>
                    </label>
                    <br>
                </div>
                <label for="user_id">User ID</label>
                <input type="number" name="user_id" value="">
                <div class="row">
                    <div class="col-md-4">
                        <label for="car_description">Car Description</label>
                        <textarea name="car_description" class="form-control" id="car_description" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="car_img_url">Car Image URL</label>
                    <input type="text" name="car_img_url" value="">
                </div>
            </div>
            <!-- <div class="container"> -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>
            <!-- </div> -->
            <!-- </fieldset> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>
