.header {
    margin-bottom: 10em;
}
.articles {
    margin-top: 5em;
    text-align: center;
}
.text-muted {
    margin-left: 3.5em;
}
#logo {
    font-size: 2.5em;
    font-family: 'Lato', serif;
    color: mediumblue;
}
#logo-share {
    color: lightsteelblue;
}

/*style for showUser page*/

#show-user-page #profile img {
    width: 100%;
    border: 2px solid gray;
    border-radius: 50%;
}
#show-user-page h2 {
    margin-top: 35px;
}
#show-user-page h3, p {
    margin-top: 10px;
}
#show-user-page h3 {
    font-size: 1.2em;
}
#show-user-page {
  border: 1px solid #666;
  border-radius: 5px;
  background-color: lightsteelblue;
  padding: 20px;
}
#show-user-page #preferences {
    margin-top: 40px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: white;
    width: 115%;
    margin-left: -7.5%;
}
#show-user-page #preferences img {
    width: 11%;
}
#show-user-page #preferences h2, #reviews h2 {
    text-align: center;
    margin-top: 0;
}
#show-user-page #review-text {
    margin-top: 15px;
}
#show-user-page ul {
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
    padding: 0;
}
#show-user-page li {
    display: inline;
}
#show-user-page .entry {
    display: inline;
}
#show-user-page a {
  color: #666;
}

/*end show-user-page*/


/*STYLE FOR EDIT USER*/

#edit-user-page {
    border: 1px solid lightgray;
}
#edit-user-page h2 {
    text-align: center;
    margin-bottom: 20px;
}
#edit-user-page h3 {
    font-size: 1.4em;
}
#edit-user-page .navbar {
    position: absolute;
}
#edit-user-page main {
    margin-top: 50px;
}
#edit-user-page .form-inline .form-group {
    margin-bottom: 10px;
}
#edit-user-page #center {
    text-align: center;
    font-size: 1.1em;
}
#edit-user-page button {
    margin-top: 10px;
}

/*end edit user style*/


/*style for new review*/

#new-review-page {
    border: 1px solid lightgray;
    margin-top: 40px;
}
#new-review-page form {
    padding-left: 20px;
}

/*new user*/

#new-user-page h2 {
    text-align: center;
    margin-bottom: 20px;
}
#new-user-page .navbar {
    position: absolute;
}
#new-user-page main {
    margin-top: 50px;
}
#new-user-page .form-inline .form-group {
    margin-bottom: 10px;
}
#new-user-page p {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
}

#show-review-page h1 {
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  margin-top: 150px;
  font-size: 1.8em;
  background-color: lightsteelblue;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 20px;
}
